{% extends 'base.html.twig' %}

{% block title %}Parcours Cybersecurité{% endblock %}


{% block body %}

<main>
    <div class="text-center">
        <h2 id="mainTitle">Parcours Cybersecurité<br/></h2>
    </div>

    <div class="comments-section">
        <h3><span class="text-blue"><br/>Compétences et apprentissages critiques</span></h3>
    </div>
</main>


<div class="hobbies-container">
    <div class="image-grid">
      <div class="image-item">
        <img src="/parcours/competences.png" alt="Comperences - Parcours cyber" />
      </div>
      <div class="image-item">
        <img src="/parcours/sae3.png" alt="sae3" />
      </div>
      <div class="image-item">
        <img src="/parcours/sae4.png" alt="sae4" />
      </div>
      <div class="image-item">
        <img src="/parcours/vpn.png" alt="Vélo" />
      </div>
    </div>
</div>

<div class="comments-section">
    <h2>Mes <span class="text-blue">compéténces cyber</span></h2>
</div>

<div class="hobbies-container">
    <div class="image-grid">
      <div class="image-item">
        <img src="/parcours/burpsuite.png" alt="Comperences - Parcours cyber" />
      </div>
      <div class="image-item">
        <img src="/parcours/owaspzap.png" alt="sae3" />
      </div>
      <div class="image-item">
        <img src="/parcours/beef.png" alt="sae4" />
      </div>
    </div>
</div>

<div class="comments-section">
    <h2>CTF & Platformes <span class="text-blue">d'apprentissage</span></h2>
</div>

<div class="hobbies-container">
    <div class="image-grid">
      <div class="image-item">
        <img src="/parcours/tryhackme.png" alt="Comperences - Parcours cyber" />
      </div>
      <div class="image-item">
        <img src="/parcours/Rootme.png" alt="sae3" />
      </div>
      <div class="image-item">
        <img src="/parcours/erreur502.png" alt="sae4" />
      </div>
      <div class="image-item">
        <img src="/parcours/marshack.png" alt="sae4" />
      </div>
      
    </div>
</div>

<!-- Section des certificats -->
<div class="comments-section">
  <h2><span class="text-blue">Certificats</span></h2>
  <p><strong>Certificat SecNumAcadémie :</strong> Valide des compétences clés en sécurité de l'information avec des scores parfaits, délivré par l'agence gouvernementale française ANSSI.</p>
  <p><strong>Certificat TryHackMe :</strong> Démontre des connaissances de base en cybersécurité ainsi que des compétences pratiques acquises via le parcours d’apprentissage Pre-Security.</p>
</div>

<!-- Images des certificats -->
<div class="hobbies-container">
  <div class="image-grid">
    <div class="image-item">
      <img src="/images/ANSSI.png" alt="Certificat ANSSI" />
    </div>
    <div class="image-item">
      <img src="/images/Tryhackme.png" alt="Certificat TryHackMe" />
    </div>
  </div>
</div>


{% endblock %}