{% extends 'base.html.twig' %}

{% block title %}E-Portfolio{% endblock %}

{% block body %}
<section id="portfolio" class="container mt-5">
    <!-- Header -->
    <header class="text-center mb-5">
        <h1 class="text-uppercase">Mon E-Portfolio</h1>
    </header>

    <!-- Competence Sections -->
    <div class="row">
        <div class="col-md-12">
            <!-- Competence: RT1 -->
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">RT1 - Administrer les réseaux et l'Internet</h3>
                </div>
                <div class="card-body competence">
                    <p><span class="gras">Mon niveau actuel</span>: Assister l'administrateur réseau dans la configuration et la maintenance des infrastructures réseau.</p>
                    <ul>
                        <li>AC11.01 Maîtriser les lois fondamentales de l'électricité afin d'intervenir sur des équipements de réseaux et télécommunications</li>
                        <li> AC11.02 Comprendre l'architecture des systèmes numériques et les principes du codage de l'information</li>
                        <li>AC11.03 Configurer les fonctions de base du réseau local </li>
                        <li>AC11.05 Savoir identifier les dysfonctionnements du réseau local</li>
                        <li>AC11.06 Installer un poste client, expliquer la procédure mise en place</li>
                    </ul>
                    <a href="/rt1" class="btn btn-secondary">Voir les preuves</a>
                </div>
            </div>

            <!-- Competence: RT2 -->
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">RT2 - Connecter les entreprises et les usagers</h3>
                </div>
                <div class="card-body competence">
                    <p><span class="gras">Mon niveau actuel</span>: Découvrir les transmissions.</p>
                    <ul>
                        <li>AC12.01 Mesurer et analyser les signaux </li>
                        <li>AC12.02 Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique</li>
                        <li>AC12.03 Déployer des supports de transmission </li>
                    </ul>
                    <a href="#" class="btn btn-secondary">Voir les preuves</a>
                </div>
            </div>

            <!-- Competence: RT3 -->
            <div class="card mb-4">
                <div class="card-header bg-dark text-white">
                    <h3 class="card-title">RT3 - Créer des outils et des applications informatiques pour les R&T</h3>
                </div>
                <div class="card-body competence">
                    <p><span class="gras">Mon niveau actuel</span>: S'intégrer dans un service informatique.</p>
                    <ul >
                        <li>AC13.02 Lire, exécuter, corriger et modifier un programme </li>
                        <li>AC13.03 Traduire un algorithme, dans un langage et pour un environnement donné</li>
                        <li>AC13.04 Connaître l'architecture et les technologies d'un site Web</li>
                        <li>AC13.06 S'intégrer dans un environnement propice au développement et au travail collaboratif</li>
                    </ul>
                    <a href="#" class="btn btn-secondary">Voir les preuves</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}