{% extends 'base.html.twig' %}

{% block title %}Loisirs{% endblock %}

{% block body %}
  <body>

    <!-- Section des commentaires -->
    <div class="comments-section">
      <h2>Mes loisirs</h2>
      <p><strong>Rubik's Cube :</strong> J'adore résoudre des Rubik's Cubes rapidement, c'est un excellent moyen d'améliorer ma concentration et ma réflexion logique.</p>
      <p><strong>Échecs :</strong> Les échecs me permettent de développer des stratégies et de penser plusieurs coups à l'avance.</p>
      <p><strong>Natation :</strong> Une activité qui me détend et m'aide à rester en forme.</p>
      <p><strong>Vélo :</strong> Faire du vélo est pour moi un mélange parfait entre sport et exploration.</p>
    </div>
  </div>
  
    <div class="loisirs-container">
      <!-- Section des images -->
      <div class="image-grid">
        <div class="image-item">
          <img src="/images/rubik'scube.png" alt="Rubik's Cube" />
        </div>
        <div class="image-item">
          <img src="/images/chess.png" alt="Jeu d'échecs" />
        </div>
        <div class="image-item">
          <img src="/images/swimming.png" alt="Natation" />
        </div>
        <div class="image-item">
          <img src="/images/velos.png" alt="Vélo" />
        </div>
      </div>

     
  </body>
{% endblock %}
