{% extends 'base.html.twig' %}

{% block title %}Savoir Plus{% endblock %}

{% block body %}

  <!-- Section des loisirs -->
  <div class="comments-section">
    <h2>Mes <span class="text-blue">Loisirs</span></h2>
    <p><strong>Rubik's Cube :</strong> J’aime résoudre rapidement des Rubik's Cubes ; c’est excellent pour améliorer ma concentration et ma logique.</p>
    <p><strong>Échecs :</strong> Les échecs m’aident à développer des stratégies et à anticiper plusieurs coups à l’avance.</p>
    <p><strong>Natation :</strong> C’est une activité qui me détend et me permet de rester en forme.</p>
    <p><strong>Vélo :</strong> Pour moi, le vélo est un excellent mélange entre sport et exploration.</p>
  </div>

  <!-- Images des loisirs -->
  <div class="hobbies-container">
    <div class="image-grid">
      <div class="image-item">
        <img src="/images/rubik'scube.png" alt="Rubik's Cube" />
      </div>
      <div class="image-item">
        <img src="/images/chess.png" alt="Partie d'échecs" />
      </div>
      <div class="image-item">
        <img src="/images/swimming.png" alt="Natation" />
      </div>
      <div class="image-item">
        <img src="/images/velos.png" alt="Vélo" />
      </div>
    </div>
  </div>

{% endblock %}
