{% extends 'base.html.twig' %}

{% block title %}Hobbies{% endblock %}

{% block body %}
  <body>

    <!-- Comments section -->
    <div class="comments-section">
      <h2>My <span class="text-blue">Hobbies</span></h2>
      <p><strong>Rubik's Cube:</strong> I love solving Rubik's Cubes quickly; it's a great way to improve my focus and logical thinking.</p>
      <p><strong>Chess:</strong> Chess allows me to develop strategies and think several moves ahead.</p>
      <p><strong>Swimming:</strong> It's an activity that relaxes me and helps me stay fit.</p>
      <p><strong>Cycling:</strong> For me, cycling is the perfect mix of sport and exploration.</p>
    </div>
  </div>
  
    <div class="hobbies-container">
      <!-- Images section -->
      <div class="image-grid">
        <div class="image-item">
          <img src="/images/rubik'scube.png" alt="Rubik's Cube" />
        </div>
        <div class="image-item">
          <img src="/images/chess.png" alt="Chess Game" />
        </div>
        <div class="image-item">
          <img src="/images/swimming.png" alt="Swimming" />
        </div>
        <div class="image-item">
          <img src="/images/velos.png" alt="Cycling" />
        </div>
      </div>   
  </body>
{% endblock %}