{% extends 'base.html.twig' %}

{% block body %}
    <main>
    <div class="text-center">
        <h2 id="mainTitle">Bienvenue sur mon site web professionnel ! </h2>
    </div>

    <div class="index">
        <p id="mainText">Bonjour, je suis Jordao Mbambu, étudiant en première année du BUT Réseaux et Télécommunications à Roanne, et je fais partie du groupe B2.</p>
        <p>Ce projet est un site web personnel développé avec le framework Symfony dans le cadre de la SAE2.Portfolio . L'objectif principal est de mettre en valeur mes compétences et mon expérience professionnelle afin d’attirer l’attention des recruteurs et me démarquer sur le marché de l’emploi.</p>

    </main>

    
    
{% endblock %}