{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h2>Bonjour, je suis Jordao Mbambu</h2>
        <p>Bienvenue sur mon site professionnel !</p>
        <a href="{{ path('about') }}" class="btn btn-primary">Pour en savoir plus</a>
    </div>
{% endblock %}
