{% extends 'base.html.twig' %}

{% block body %}
    <main>
    <div class="text-center">
        <h2>Welcome to my professional website!</h2>
    </div>

    <div class="index">
        <p>Hello, I am Jordao Mbambu, a first-year student in the Networks and Telecommunications Bachelor's program (BUT) in Roanne, and I am part of group B2.</p>
        <p>This project is a personal website developed using the Symfony framework as part of SAE14 (Presenting Yourself on the Internet). The main objective is to showcase my skills and professional experience to attract the attention of recruiters and stand out in the job market.</p>
    </div>
    </main>
    
{% endblock %}