{% extends 'base.html.twig' %}

{% block title %}Preuves-RT1{% endblock %}

{% block body %}
  <body>

    <!-- Comments section -->
    <div class="comments-section">
      <h2>RT1-<span class="text-blue"> Administrer les réseaux et l'Internet</span></h2>
      <p><strong>AC11.01: </strong>Maîtriser les lois fondamentales de l'électricité afin d'intervenir sur des équipements de réseaux et télécommunications.</p>
      <p><strong>AC11.02: </strong>Configurer les mots de passe de ligne console, du mode d'exécution privilégié, mode virtuel et identifier le lien entre ses mots de passe et les différents modes</p>
      <p><strong>AC11.03: </strong>Configurer les Vlans et être capable de justifier ses choix</p>
      <p><strong>AC11.04: </strong>Savoir identifier les dysfonctionnements du réseau local</p> 
      <p><strong>AC11.06: </strong>Installer un poste client, expliquer la procédure mise en place</p>
    </div>
  </div>
  
    <div class="hobbies-container">
      <!-- Images section -->
      <div class="image-grid">
        <div class="image-item">
          <img src="/Preuvesrt1/Tension.png" alt="Mesure de tension" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt1/password.png" alt="Mots de Passe" />
        </div>
        <div class="image-item">
          <img src="/Preuvesrt1/vlan.png" alt="vlan" />
        </div>
        <div class="image-item">
          <img src="/Preuvesrt1/vlan2.png" alt="vlan" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt1/erreur.png" alt="vlan" />
          </div>
          <div class="image-item">
            <img src="/Preuvesrt1/touslesmachines.png" alt="vlan" />
          </div>
          <div class="image-item">
            <img src="/Preuvesrt1/machineclient.png" alt="vlan" />
          </div>
          <div class="image-item">
            <img src="/Preuvesrt1/serveurmachine.png" alt="vlan" />
          </div>
          <div class="image-item">
            <img src="/Preuvesrt1/Topologie.png" alt="vlan" />
          </div>
      </div>   
  </body>
{% endblock %}