{% extends 'base.html.twig' %}

{% block title %}Preuves-RT2{% endblock %}

{% block body %}
  <body>

    <!-- Comments section -->
    <div class="comments-section">
      <h2>RT2-<span class="text-blue">Connecter les entreprises et les usagers</span></h2>
      <p><strong>AC12.01: </strong>Mesurer et analyser les signaux </p>
      <p><strong>AC12.02: </strong>Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique</p>
      <p><strong>AC12.03: </strong>Déployer des supports de transmission</p>
    </div>
  </div>
  
    <div class="hobbies-container">
      <!-- Images section -->
      <div class="image-grid">
        <div class="image-item">
          <img src="/Preuvesrt2/Aircheck.png" alt="Mesure wi-fi" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt2/fluke1.png" alt="Mesure cuivre" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt2/fluke2.png" alt="Mesure cuivre" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt2/signal1.png" alt="Mesure Oscilloscope" />
        </div>
        <div class="image-item">
          <img src="/Preuvesrt2/math.png" alt=" Mat du signal" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt2/futp.png" alt=" F/UTP cable" />
          </div>
        <div class="image-item">
          <img src="/Preuvesrt2/cat6.png" alt="vlan" />
        </div>
      </div>   
  </body>
{% endblock %}