{% extends 'base.html.twig' %}

{% block title %}Preuves-RT2{% endblock %}

{% block body %}
  <body>

    <!-- Comments section -->
    <div class="comments-section">
      <h2>RT2-<span class="text-blue">Lire, exécuter, corriger et modifier un programme</span></h2>
      <p>AC13.02:  Lire, exécuter, corriger et modifier un programme </p>
      <p><strong>AC13.03: </strong>Traduire un algorithme, dans un langage et pour un environnement donné</p>
      <p><strong>AC13.04: </strong>Connaître l'architecture et les technologies d'un site Web</p>
      <p><strong>AC13.06: </strong>S'intégrer dans un environnement propice au développement et au travail collaboratif</p>
    </div>
  </div>
  
    <div class="hobbies-container">
      <!-- Images section -->
      <div class="image-grid">
        <div class="image-item">
          <img src="/Preuvesrt3/Python1.png" alt="Modifier le code python" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt3/Python2.png" alt="éxeuter le code python" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt3/Markdown1.png" alt="markdown" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt3/Markdown2.png" alt="Structure html" />
          </div>
        <div class="image-item">
          <img src="/Preuvesrt3/Markdown3.png" alt="Html final" />
        </div>
        <div class="image-item">
            <img src="/Preuvesrt3/structure.png" alt=" Structrure des pages web" />
          </div>
        <div class="image-item">
          <img src="/Preuvesrt3/blog.png" alt="structure de mon blog" />
        </div>
        <div class="image-item">
          <img src="/Preuvesrt3/forum.png" alt="Tryhackme Discord" />
        </div>
      </div>   
  </body>
{% endblock %}