{% extends 'base.html.twig' %}

{% block title %}E-Portfolio{% endblock %}

{% block body %}
<section id="competences" class="mb-5">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h2>Mes Compétences</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-uppercase">Réseaux et Systèmes</h4>
                    <ul>
                        <li>Administration de réseaux locaux</li>
                        <li>Configuration de routeurs et switches</li>
                        <li>Initiation à la virtualisation</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4 class="text-uppercase">Développement</h4>
                    <ul>
                        <li>Développement Web (HTML, CSS, JavaScript, Symfony)</li>
                        <li>Base de données (MySQL, PostgreSQL)</li>
                        <li>Création d'outils automatisés</li>
                    </ul>
                </div>
            </div>
            <div class="mt-4">
                <h4 class="text-uppercase">Analyse Réflexive</h4>
                <p>
                    Au cours de mes projets, j'ai appris à analyser les besoins, anticiper les défis techniques, 
                    et collaborer efficacement pour résoudre des problèmes complexes. Chaque expérience a renforcé 
                    ma capacité à adapter mes solutions aux exigences des projets.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}